<form action = '/properties/add_new/id' method = post>
  <input type = text name = listing_title placeholder = 'Listing Title'>
  <textarea id = listing_description name = listing_description rows = 10 cols = 100>Give a description of your listing here</textarea>
  <input type = submit value = Submit>
</form>

