<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Add Property</title>
  </head>
<body>

<form action = '/properties/add_new/id' method = post>
  <p><input type = text name = listing_title placeholder = 'Listing Title'>
  <p><textarea id = listing_description name = listing_description rows = 10 cols = 100 placeholder = 'Give a description of your property here'></textarea>
  <p>Please list a range of dates for which your property is unavailable:
  <p><label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date">
  <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date">
  <p><input type= text name = listing_location placeholder = 'Location'>
  <p><input type= text name = price_per_night placeholder = 'Price per night in £'>
  <p><input type = submit value = Submit>
</form>

<%= erb :log_out_button %>
</body>
</html>
