<form action = '/properties/add_new/id' method = post>
  <input type = text name = listing_title placeholder = 'Listing Title'>
  <textarea id = listing_description name = listing_description rows = 10 cols = 100>Give a description of your listing here</textarea>
  <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date">
  <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date">
    <input type= text name = listing_location placeholder = 'Location'>
    <input type= text name = price_per_night placeholder = 'Price per night in £'>
  <input type = submit value = Submit>
</form>