<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Confirmation</title>
  </head>
  <body>
<center>
<div class= 'confirmation'>
<%= 'Your request has been approved!' if session[:confirmation] == true %>
<%= 'The date you selected is unavailable' if session[:confirmation] == false %>
</div>
<br>
<%= erb :log_out_button %>
<br>
<%= erb :navigate_to_properties %>