<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>MakersBnB</title>
  </head>
  <body>
<center>
<h1>Welcome to MakersBnB</h1>
<% if session[:error_msg] %>
  <%= session[:error_msg] %>
<% end %>

Sign Up:
<form action="/sign_up" method=POST>
  <input type='text' name='name' placeholder = Name>
  <input type='text' name='sign_up_user_name' placeholder = Username>
  <input type="submit" value="Sign Up">
</form>

Already have an account? Sign In:

<form action="/sign_in" method=POST>
  <input type='text' name='sign_in_user_name' placeholder = Username>
  <input type="submit" value="Sign In">
</form>
</center>
</body>
</html>

