<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>MakersBnB</title>
  </head>
  <body>
<center>
<h1>Welcome to MakersBnB</h1>
<% if session[:error_msg] %>
  <%= session[:error_msg] %>
<% end %>
<form action="/sign_up" method=POST>
  <input type='text' name='name' placeholder = Name>
  <input type='text' name='user_name' placeholder = Username>
  <input type="submit" name="Submit">
</form>
</center>
</body>
</html>